@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.submenu-enter {
    opacity: 0;
    transform: translateY(-20px);
  }
  .submenu-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms, transform 300ms;
  }
  .submenu-exit {
    opacity: 1;
    transform: translateY(0);
  }
  .submenu-exit-active {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 300ms, transform 300ms;
  }
  